<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-windth, initial-scale=1.0">
	<title>Добрый вечер!</title>
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/css/all.min.css">
	<link rel="stylesheet" href="css/custom.css">
</head>

<body class="bg-light">
	<div id="app" v-cloak>
		<div class="container ry-4">
			<div class="d-flex justify-content-between align-items-center mb-4">
				<h2>Ваши задачи.</h2>
				<button class="btn btn-primary" @click="addTask">
					Добавить задачу.
				</button>
			</div>
			<div class="mb-4">
				<input type="text" class="form-control" placeholder="Поиск по задачам..." v-model="searchText">
			</div>
			<div class="border bg-white shadow-sm rounded p-3 mb-3" v-for="task in activeTasks" :key="task.id">
				<div class="row align item-center">
					<div class="col d-flex">
						<input type="checkbox" v-model="task.completed">
						<input type="text" class="form-control border-0 border-bottom rounded-0 ms-2"
							placeholder="Введите название" v-model="task.title">
					</div>
					<div class="col-auto" v-if="task.date || task.time" :class="{'text-danger': checkTime(task)}">
						До
						<span v-if="task.date">
							{{ new Date(task.date).toLocaleDateString() }}
						</span v-if="task.time">
						<span>{{ task.time }}</span>
					</div>
					<div class="col-auto">
						<button class="btn btn-light collapsed" data-bs-toggle="collapse"
							:data-bs-target="`#task-${task.id}`">
							<i class="fas fa-chevron-down"></i>
						</button>
						<button class="btn btn-light" @click="deleteTask(task.id)">
							<i class="fas fa-trash"></i>
						</button>
					</div>
				</div>
				<div class="collapse" :id="`task-${task.id}`">
					<div class="row pt-4">
						<div class="col-6">
							<input type="date" class="form-control" v-model="task.date">
						</div>
						<div class="col-6">
							<input type="time" class="form-control" v-model="task.time">
						</div>
					</div>
				</div>
			</div>
			
			<template v-if="completedTasks.length">
				<hr class="mt-4">
				<h3 class="mb-4"> Выполненные задачи.</h3>
				<div class="border rounded p-3 mb-3 bg-white text-decoration-line-through text-muted" v-for="task in completedTasks"
					:key="task.id">
					<div class="row align item-center">
						<div class="col d-flex">
							<input type="checkbox" v-model="task.completed">
							<div class="ms-2">{{ task.title }}</div>
						</div>
						<div class="col-auto" v-if="task.date || task.time"
							:class="{'text-danger': checkTime(task)}">
							До
							<span v-if="task.date">
								{{ new Date(task.date).toLocaleDateString() }}
							</span v-if="task.time">
							<span>{{ task.time }}</span>
						</div>
						<div class="col-auto">
							<button class="btn btn-light" @click="deleteTask(task.id)">
								<i class="fas fa-trash"></i>
							</button>
						</div>
					</div>
			</template>

			<div v-if="!tasks.length" class="p-5 bg-white shadow-sm h4 text-center">
				Задач нет.
			</div>
			<div v-else-if="!filteredTasks.length" class="p-5 bg-white shadow-sm h4 text-center">
				Ничего не найдено.
			</div>
		</div>
	</div>
	<script src="../../assets/js/bootstrap.bundle.min.js"></script>
	<script src="../../assets/js/vue.js"></script>
	<script src="js/script.js"></script>
</body>

</html>