@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed:ital,wght@1,300&display=swap');
body{
	margin: 0;
	font-family:'Roboto Condensed', sans-serif;;
	box-sizing: border-box;
}
header{
	padding: 40px 10%;
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 99;
}
header a{
text-decoration: none;
color:black;
transition: .3s;
}
.ff:{

}
nav{
	display: flex;
}
nav a:not(:last-child){
	margin-right: 30px;
}
nav a:after{
	content: "->";
	position: absolute;
	margin-top: 2px;
}
nav a:not(:hover)::after{
	opacity: 0;
	transform: translateY(-50%);
}
nav a:honer::after{
	transition:.2s;
}
a:hover{
 	color: #00FFFF;
 }
.textabout{
	width: 100%;
	height: 310px;

}
.banner{
	background-color:#f6f6f6;
	text-align: center;

}
.textabout h1{
	padding-top: 105px;
}
.bot{
	display: grid;
	height: 100vh;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(3, 1fr);
 grid-auto-rows: 200px;
 grid-gap: 0;
}
.setka:nth-child(even) {
  background: #ddd;
}
.setka:nth-child(odd){
	background-color: #838383;
	}
.seka:nth-child(odd){
	background-color:#ddd ;
}
.seka:nth-child(even){
background-color: #838383 ;
}
.bot:hover setka {
	color: #00FFFF ;
}
.bot .setka img hover{
	transform:scale(1.15);

}
.bot .seka img hover{
	transform:scale(1.15);
}
footer{
	width: 100%;
	padding: 30px 0;
	background-color: black;
	text-align: center;
}
.qq h4{
	margin: 0;
	padding: 0;
	color: white;
	margin: 40px 0;
	font-family: 'Lato', sans-serif;
}
.s{
	color: #9a9a9a;
}
footer a{
	text-decoration: none;
color:#9a9a9a;
}
.bot img{
	object-fit: cover;
	width: 100%;
    height: 100%;
    image-rendering: crisp-edges;
    transition: .4s;
    object-position:left;
}
.bot .setka:hover img{
	transform: scale(1.1);
	filter: brightness(1);
}
.bot .setka{
	overflow: hidden;
	position: relative;

}
.bot .seka:hover img{
	transform: scale(1.1);
	filter: brightness(1)
}
.bot .seka{
	overflow: hidden;
	position: relative;

}
.qq nav{
	justify-content: center;
}
.aboutus h4{
	color: #ddd;
	display: inline-block;

}
.aboutus h4:not(:last-child){
	margin-right: 100px;
}