@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Mulish', sans-serif;
}

section {
    height: 100vh;
}
#main {
    transform: translate3d(0, -15vh, 0);
    background: #003b46;
    animation: anim1 0.7s;
    animation-fill-mode: forwards;
    -webkit-animation: anim1 0.7s;
    -webkit-animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cat1 {
    transform: translate3d(0, -15vh, 0);
    background: #07575b;
    animation: anim1 0.7s;
    animation-fill-mode: forwards;
    -webkit-animation: anim1 0.7s;
    -webkit-animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dog {
    transform: translate3d(0, -15vh, 0);
    background: #66a5ad;
    animation: anim1 0.7s;
    animation-fill-mode: forwards;
    -webkit-animation: anim1 0.7s;
    -webkit-animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hamster {
    transform: translate3d(0, -15vh, 0);
    background: #003b46;
    animation: anim1 0.7s;
    animation-fill-mode: forwards;
    -webkit-animation: anim1 0.7s;
    -webkit-animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cat2 {
    transform: translate3d(0, -15vh, 0);
    background: #07575b;
    animation: anim1 0.7s;
    animation-fill-mode: forwards;
    -webkit-animation: anim1 0.7s;
    -webkit-animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes anim1 {
    0% {
        transform: translate3d(0, -100vh, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

#main .center {
    color: #fff;
    width: 80vh;
    text-align: center;
}

#main .center h1 {
    font-size: 12vh;
    margin: 0;
    padding: 0;
}

#cat1 .center {
    color: #fff;
    width: 90vh;
    text-align: center;
}

#cat1 .center h1 {
    font-size: 12vh;
    margin: 0;
    padding: 0;
}

#dog .center {
    color: #fff;
    width: 100vh;
    text-align: center;
}

#dog .center h1 {
    font-size: 12vh;
    margin: 0;
    padding: 0;
}

#hamster .center {
    color: #fff;
    width: 100vh;
    text-align: center;
}

#hamster .center h1 {
    font-size: 12vh;
    margin: 0;
    padding: 0;
}

#cat2 .center {
    color: #fff;
    width: 80vh;
    text-align: center;
}

#cat2 .center h1 {
    font-size: 12vh;
    margin: 0;
    padding: 0;
}