@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.head-text h2 {
    margin-left: 200px;
    color: gray;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

nav a {
    float: right; 
    padding-left: 20px;
    text-decoration: none;
    color: gray;

}

nav a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

nav {
    margin-right: 200px;
}

.welcome-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.welcome-flex-2 h1 {
    font-size: 50px;
    color: rgb(41, 41, 41);
    font-weight: 10000;
}

.welcome-flex-2 p {
    font-size: 17px;
    font-weight: 700;
    color: gray;
}

.welcome-flex-2 button {
    padding: 20px 35px;
    border-radius: 25px;
    border: none;
    background-color: rgb(253, 194, 84);
}

.welcome-flex-2 a {
    text-decoration: none;
    color: white;
}

.con-text h1 {
    text-align: center;
    margin-top: 250px;
}

.content-wrap {
 margin-top: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.flex-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}

.flex-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.content-wrap ion-icon {
    font-size: 30px;
    color: gray;
}

#content {
    margin-bottom: 150px;
}

#block {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background-color: rgb(238, 177, 64);
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 150px;
    color:white;
}

.block-flex-2 p {
    width: 70%;
    color: white;
}

.block-flex {
    margin-left: 20%;
}

.block-flex-2 {
    margin-left: 10%;
}

.why-text h1 {
    text-align: center;
    margin-bottom: 80px;
}

.why-wrap-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.why-flex-1 h1 {
    margin-top: 0;
    margin-bottom: 5px;
    color: gray;
}

/* .why-flex-1 p {
    
} */

.why-flex-1 button {
    padding: 20px 35px;
    border: none;
   background-color: rgb(253, 194, 84);
   border-radius: 25px;
}

.why-flex-1 a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.why-wrap-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.why-flex-2 h1 {
    color: gray;
}

.why-flex-2 button {
    padding: 20px 35px;
    border: none;
   background-color: rgb(253, 194, 84);
   border-radius: 25px;
}

.why-flex-2 a {
    color: white;
    text-decoration: none;
}

#why p {
    font-size: 17px;
}

.model-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

#model h1 {
    text-align: center;
    margin-bottom: 100px;
}

.model-wrap img {
    width: 14%;
    padding-left: 50px;
}

#model {
    margin-bottom: 300px;
}

#us h1 {
    text-align: center;
}

.us-wrap {
    display: flex;
    justify-content: centers;
}

.per  {
    color: black;
    font-weight: 700;
}

.us-flex-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.us-flex-1 p {
    text-align: center;
}

.img1 {
    width: 3%;
}

.img2 {
    width: 10%;
    border-radius: 50%;
}

.us-flex-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.us-flex-2 p{
    text-align: center;
}

.us-flex-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.us-flex-3 p {
    text-align: center;
}

#us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

#us button {
   padding:20px 60px;
   border: none;
   border-radius: 45px;
   background-color: rgb(253, 194, 84);
   margin-top: 50px;
}

#us a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
}

footer h1 {
    margin-top: 50px;
}

footer p {
    text-align: center;
    margin-bottom: 50px;
}

.links a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.copy {
    width: 1%;
    text-align: center
}

@media screen and (max-width:992px) {
    .content-wrap {
     margin-left: 30px;
     margin-right: 30px;
    }
    .why-wrap-1 {
        margin-right: 30px;
    }
    .why-wrap-1 p {
        width: 100%;
      
    }
    .why-wrap-2 {
        margin-left:30px;
    }
    .why-wrap-2 p {
        width: 70%;
    }
    .why-flex-1 {
        margin-left: 15%;
    }
    .model-wrap img {
     padding-left: 0px;
    }
    #model {
        margin-bottom: 100px;
    }
    .block-flex img {
        width: 160%;
    }
    #block {
        padding-right: 50px;
    }
}

@media screen and (max-width:768px) {
    nav a {
        padding-left: 0; 
        margin-left: 15px;
    }
    .head-text h2 {
        margin-right: 0;
        margin-left: 50px;
    }
    nav {
        margin-right: 50px;
    }
    .welcome-flex-2 h1 {
        font-size: 40px;
    }
    .welcome-flex-2 {
        margin-left: 30px;
        margin-right: 10px;
    }
    .welcome-flex-1 img {
        margin-left: 10px;
    }
    .block-flex-2 {
        margin-right: 60px;
    }
    .block-flex-2 p {
        width: 120%;
    }
    .block-flex img {
        width: 160%;
    }
    #block {
        padding-right: 50px;
    }
    .model-wrap img {
        width: 15%;
    }
}

@media screen and (max-width:480px) {
    nav a {
        margin-right: 0;
    }
    .head-text h2 {
        margin-left: 10px;
    }
    nav {
        margin-right: 10px;
    }
    .welcome-flex-2 h1 {
        font-size: 30px;
    }
    .welcome-flex-2 {
        margin-right: 50px;
    }
    .welcome-flex-1 {
        margin-left: 50px;
    }
    .flex-2 {
        display: none;
    }
    #block {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .block-flex  {
      margin-left: 0;
      margin-right: 120px;
    }
    .why-text h1 {
        text-align: center;
    }
    .why-wrap-1 {
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
    .why-wrap-2 {
        display: flex;
        align-items: center;
        justify-content:center;
      flex-direction: column-reverse;
    }
    .why-wrap-2 img {
       margin-right: 50px;
    }
    .why-flex-2 p {
        width: 100%;
    }
    .model-wrap img {
        width: 18%;
    }
    .us-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .us-flex-1 {
        margin-bottom: 50px;
    }
    .us-flex-2 {
        margin-bottom: 50px;
    }
    .content-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .flex-1 {
        display: flex;
        align-items: center;
        justify-content: center;  
    }
    .con-flex-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 25%;
    } 
    .con-flex-1 p {
        text-align: center;
    }
    .con-flex-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 25%;
        margin-top: 30px;
    } 
    .con-flex-2 p {
        text-align: center;
    }
    .con-flex-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 25%;
        margin-top: 30px;
    } 
    .con-flex-3 p {
        text-align: center;
    }
    .welcome-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .welcome-flex-1 img {
        width: 110%;
    }
    .welcome-flex-2 {
        margin-left: 50px;
    }
    .content-img img {
        width: 80%;
        margin-left: 20px;
        margin-top: 20px;
    }
    .block-flex img {
        width: 60%;
        margin-left: 20px;
    }
}

@media screen and (max-width:365px) {
    .btn button {
        width: 20px;
    }
    nav h2 {
        margin-left: 10px;
    }
    nav  {
        margin-right:30px ;
        font-size: 10px;
        display: inline;
    }
    nav a {
        margin-left: 0px;
        margin-right: 0;
    }
}